<h2 class="title"><%= l(:budget_title) %></h2>

<table>
  <tr>
    <td>
      <%= l(:label_budget) %>:
    </td>
    <td class="calculation-column">
      <%= h(number_to_currency(budget.budget, :precision => 2, :unit => '$')) %>
    </td>
  </tr>

  <tr>
    <td>
      <%= l(:label_spent) %>:
    </td>
    <td class="calculation-column">
      <%= number_to_currency budget.spent %>
    </td>
  </tr>

  <tr>
    <td>
      <%= l(:label_invoiced) %>:
    </td>
    <td class="calculation-column">
      <%= number_to_currency budget.invoiced %>
    </td>
  </tr>
</table>
