<% css = cycle('odd','even') %>
<tr id="deliverable-<%= deliverable.id %>" class="deliverable <%= css %>">
  <td class="actions">
    <% unless deliverable.attachments.empty? %>
    <%= link_to(image_tag('attachment.png'), {:controller => 'attachments', :action => 'download', :id => deliverable.attachments.last, :filename => deliverable.attachments.last.filename }) %>
    <% end %>
    <%= link_to image_tag('edit.png'), { :action => 'edit', :id => deliverable.project_id, :deliverable_id => deliverable.id }, 
      :title => l(:button_edit) %>

    <%= link_to image_tag('delete.png'), { :action => 'destroy', :id => deliverable.project_id, :deliverable_id => deliverable.id }, 
      :confirm => l(:text_are_you_sure), 
      :method => :post, 
      :title => l(:button_delete) %>
  </td>

  <%= content_tag(:td, link_to(h(deliverable.to_s(false)), "/deliverables/edit/#{deliverable.project.id}?deliverable_id=#{deliverable.id}"), {:class => 'subject'}) %>
  <%= content_tag(:td, h(deliverable.number)) %>
  <%= content_tag(:td, number_to_currency(deliverable.budget)) %>
  <%= content_tag(:td, link_to(number_to_currency(deliverable.spent), "/timesheet/report?timesheet[period_type]=0&timesheet[period]=all&timesheet[deliverables][]=#{deliverable.id}")) %>
</tr>
