<style>
 #attachments_fields input[type=text] { display: none; }  
 #attachments_fields label { display: none; }  
</style>

<fieldset class="tabular">
  <%= error_messages_for 'deliverable' %>
  <div class="box">
    <div class="splitcontentleft">
      <h2>Details</h2>

      <p>
        <%= f.text_field :subject, :label => l(:label_subject), :required => true %>
      </p>

      <p>
        <%= f.text_field :due, :required => true, :size => 10 %>
        <%= calendar_for('deliverable_due') %>
      </p>

      <p>
        <%= f.text_field :budget, :label => l(:label_budget) %>
      </p>

      <% unless @deliverable.custom_field_values.empty? %>
        <% @deliverable.custom_field_values.each do |value| %>
          <p><%= custom_field_tag_with_label :deliverable, value %></p>
        <% end %>
      <% end %>
    </div>

    <div class="splitcontentright">
      <h2>Attachments</h2>
      <%= link_to_attachments @deliverable %>
      <p>
        <%= render :partial => 'attachments/form' %>
      </p>
    </div>

    <div style="clear:both;"> </div>

  </div>
  <%= mode == :create ? submit_tag(l(:button_create)) : submit_tag(l(:button_update)) %>
</fieldset>
