<div id="budget-list">
  <% unless deliverables.empty? %>
    <table id="deliverable-list" class="list deliverables">
        <thead>
          <tr>
            <%= content_tag('th', " ") %>
            <%= content_tag('th',l(:label_agreement)) %>
            <%= content_tag('th',l(:label_number)) %>
            <%= content_tag('th',l(:label_forecast)) %>
            <%= content_tag('th',l(:label_budget)) %>
            <%= content_tag('th',l(:label_spent)) %>
            <%= content_tag('th',l(:label_invoiced)) %>
            <%= Redmine::Hook.call_hook(:plugin_budget_view_deliverable_list_header, { }) %>
          </tr>
					<% unless @deliverable.custom_field_values.empty? %>
						<% row_count = 0 %>
						<% row_max = (@deliverable.custom_field_values.size / 4.0).ceil %>
						<% if (@deliverable.custom_field_values.size % 4.0) == 0 %>
							<% custom_mod = 4 %>
						<% else %>
							<% custom_mod = (@deliverable.custom_field_values.size % 4.0) %>
						<% end %>
						
						<% while row_count < row_max do %>
							<% custom_index = row_count*4 %>
							<tr>
								<% if (row_max - row_count) == 1 %>
									<% head_space = 7 - custom_mod %>
									<% custom_increment = custom_mod - 1 %>
								<% else %>
									<% head_space = 3 %>
									<% custom_increment = 3 %>
								<% end %>
								<% while head_space > 0 do %>
									<%= content_tag('th', " ") %>
									<% head_space -= 1 %>
								<% end %>
								<% for custom_index in custom_index..custom_index+custom_increment do %>
									<%= content_tag('th',@deliverable_custom_fields[custom_index].name) %>
								<% end %>
							</tr>
							<% row_count += 1 %>
						<% end %>
						
					<% end %>
        </thead>
        <tbody>
          <%= render :partial => 'deliverable', :collection => deliverables %>
        </tbody>
    </table>
  <% end %>
</div>
