<div id="budget-list">
  <% unless deliverables.empty? %>
    <table id="deliverable-list" class="list deliverables">
        <thead>
          <tr>
            <th style="width: 60px"></th>
            <th><%= l(:label_agreement) %></th>
            <th><%= l(:label_number) %></th>
            <th><%= l(:label_budget) %></th>
            <th><%= l(:label_spent) %></th>
            <th><%= l(:label_invoiced) %></th>
            <%= Redmine::Hook.call_hook(:plugin_budget_view_deliverable_list_header, { }) %>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'deliverable', :collection => deliverables %>
        </tbody>
    </table>
  <% end %>
</div>
