<% @object = time_entry %>
<% @object_name = 'time_entries' %>
<% time_entry.id = 0 %>

<% fields_for('time_entries[]', time_entry) do |f| %>
  <div class="box" id="entry_0">
    <%= error_messages_for 'time_entry', :object => time_entry %>
    <p>
      <%= label_for_field :project_id, 0, :required => true %>
      <% projects = options_for_select(@projects.sort{|a,b| a <=> b}.map{|p| [p.to_s, p.id]}, :selected => @first_project.id) %>
      <%= f.select :project_id, projects %>
    </p>
    <p id="entry_0_issues">
      <% @issues = get_issues @first_project.id %>
      <%= label_for_field :issue_id, 0 %>
      <select id="time_entries_<%= time_entry.id %>_issue_id">
        <optgroup label="<%= l(:label_open_issues) %>"></optgroup>
        <optgroup label="<%= l(:label_closed_issues) %>"></optgroup>
      </select>
    </p>
    <p id="entry_0_deliverables">
      <%= render :partial => 'deliverables_selector', :locals => {:project => @first_project} %>
    </p>

    <p class="single_date">
      <%= label_for_field :spent_on, 0, :required => true %>
      <%= f.text_field :spent_on, :size => 10, :name => "time_entries[0][spent_on]", :id => "time_entries_0_spent_on", :class => 'spent_on' %><%= calendar_for("time_entries_0_spent_on") %>
      <small><a class="show_range"><%= l(:label_specify_range) %></a></small>
    </p>

    <div class="date_range" style="display: none">
      <p>
        <label for="date_from_0">From Date <span class="required"> *</span></label>
        <input type="text" class="date_from" size="10" id="date_from_0" name="time_entries[0][date_from]" /><%= calendar_for("date_from_0") %>
      </p>
      <p>
        <label for="date_to_0">To Date <span class="required"> *</span></label>
        <input type="text" class="date_to" size="10" id="date_to_0" name="time_entries[0][date_to]" /><%= calendar_for("date_to_0") %><br />
        <small><a class="show_single_date"><%= l(:label_specify_single_date) %></a></small>
      </p>
    </div>

    <p class="hours">
      <%= label_for_field :hours, 0, :required => true %>
      <%= f.text_field :hours, :size => 6, :maxlength => 6 %>
      <small><a class="fill_quota"><%= l(:label_fill_quota) %></a></small>
    </p>

    <p class="quota" style="display: none">
      <label for="quota_specified"><%= l(:field_hours) %><span class="required"> *</span></label>
      <span><%= User.current.quota %></span><br />
      <input type="hidden" class="quota_specified" value="false" name="time_entries[0][quota_specified]" />
      <small><a class="specify_hours"><%= l(:label_specify_hours) %></a></small>
    </p>

    <p>
      <%= label_for_field :comments, 0 %>
      <%= f.text_field :comments, :size => 100, :maxlength => 255 %>
    </p>
    <p id="entry_0_activities">
      <%= render :partial => 'activities_selector', :locals => {:activities => @first_project.activities } %>
    </p>
    <% time_entry.custom_field_values.each do |value| %>
      <p><%= custom_field_tag_with_label "time_entries[0]", value %></p>
    <% end if time_entry.respond_to?(:custom_field_values) %>
  </div>
<% end %>
