<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery-1.6.2.min.js', :plugin => 'redmine_w3h' %>
  <%= javascript_include_tag 'time_form', :plugin => 'redmine_w3h' %>
<% end %>

<h2><%= l(:label_bulk_time_entries) %></h2>

<% remote_form_for :bulk_time_entry_title, @bulk_time_entry, :url => {:action => 'save'}, :html => {:class => 'tabular'} do |f| %>
  <div id="entries">
    <%= render :partial => 'time_entry', :collection => @time_entries %>
  </div>
  <a class="add_entry">Add Another</a>
  <%= submit_tag l(:button_save) %>
<% end %>

<br />
<br />

<% calendar = Redmine::Helpers::Calendar.new(Date.today, current_language, :month) %>
<% calendar.events = [] %>
<% def calendar.startdt=(value); @startdt = value; end; %>
<% def calendar.enddt=(value); @enddt= value; end; %>
<% startdt = (Date.today - 21) - (Date.today.cwday - calendar.first_wday)%7 %>
<% enddt = (Date.today) + (calendar.last_wday - Date.today.cwday)%7 %>
<% calendar.startdt = startdt %>
<% calendar.enddt = enddt %>
<%= render :partial => 'common/calendar', :locals => {:calendar => calendar } %>
<a class="full-calendar" href="/issues/calendar">View Full Calendar</a>

<% html_title l(:label_bulk_time_entries) %>
